header {
    height: 3rem;
}

.todoForm {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.todoInput {
    border: 1px solid #4b0082;
    border-radius: 10px;
    height: 30px;
    outline: none;
    padding-left: 1rem;
    color: #191970;
    background: #f0f8ff;
}

.todoButton {
    border: 1px solid #4b0082;
    border-radius: 10px;
    height: 30px;
    background: #add8e6;
    color: #191970;
    outline: none;
}
.todoButton:disabled,
.todoButton[disabled]{
    background-color: #cccccc;
}