.itemLi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid #ADD8E6;
    margin-bottom: 0.5rem;
    border-radius: 10px;
}

.itemInput {
    margin-right: 1rem;
}

.rm {
    background: #FF0000;
    border-radius: 10px;
    border: none;
    color: #fff;
}

.done {
    text-decoration: line-through;
}