.filterForm {
    display: flex;
}

.inputFilter {
    border: 1px solid #add8e6;
    margin: 0 auto;
    outline: none;
    padding-left: 1rem;
    color: #191970;
    background: #f0f8ff;
    border-radius: 6px;
    height: 19px;
}

.filterButton {
    height: 23px;
    border: 1px solid #191970;
    background: #f0f8ff;
    border-radius: 6px;
    color: #191970;
    outline: none;
}

.filterButton:disabled,
.filterButton[disabled]{
    background-color: #989898;
}