.filterForm {
    display: flex;
    justify-content: center;
}

.inputFilter {
    border: 1px solid #add8e6;
    outline: none;
    margin-left: 20px;
    padding-left: 1rem;
    color: #191970;
    background: #f0f8ff;
    border-radius: 6px;
    height: 19px;
}

.inputFilter:disabled,
.inputFilter[disabled]{
    background-color: #cccccc;
}

.warningMessage {
    color: red;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.filterButton {
    border: 1px solid #add8e6;
    margin-left: 4px;
    outline: none;
    padding-left: 0.5rem;
    color: #191970;
    background: #f0f8ff;
    border-radius: 6px;
    height: 23px;
    font-size: 10px;
}