.itemLi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #add8e6;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}

.rm {
  background: #ff0000;
  border-radius: 10px;
  border: none;
  color: #fff;
  outline: none;
}
